#container{
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 958px;
  height: 700px;
}
#gameCanvas{
  border: 4px solid white;
  background-image: url("../assets/images/Fondo.jpg");
}

h4{
  font-family: sans-serif;
  color: darkslategray;
  text-align: center;
}