extends layouts/_index.jade
block body
    div
        canvas#gameCanvas(width='950', height='750')
            | Sorry,
            strong CANVAS
            |  is not supported by your browser. Get a more recent one to play my game!