extends layouts/_index.jade
block body
    div
        canvas#GameCanvas(width='800', height='600')
            | Sorry,
            strong CANVAS
            |  is not supported by your browser. Get a more recent one to play my game!